.successContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.successBox {
  text-align: center;
}

.checkIcon {
  margin: 20px 0;
  justify-content: center;
  align-content: center;
  display: flex;
}

.successTitle {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}
