.navBar {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  margin: 0 90px 0 70px;
}

.menuSection {
  display: flex;
  align-items: center;
  gap: 16px;
}
