.listLayout {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px 0 30px 0;
  padding: 0 25%;
}

.listLayout::-webkit-scrollbar {
  display: none;
}
