.listLayout {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 0 20%;
  margin: 10px 0 30px 0;
}

.listLayout::-webkit-scrollbar {
  display: none;
}
