.listCard {
  width: 600px;
  height: 660px;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  will-change: transform;
}

.listCard:hover {
  cursor: pointer;
}

.thumbnailContainer {
  position: relative;
  width: 100%;
}

.recipeCardHeader {
  padding: 16px;
  background-color: #f9f9f9;
}

.headerBox {
  align-items: center;
}

.recipeNumber {
  font-size: 0.85em;
  color: #666;
}

.titleBox {
  text-align: center;
  margin: 10px;
}

.recipeTitleEn {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 0;
  flex-grow: 1;
}

.recipeTitleKo {
  font-size: 1.25em;
  font-weight: bold;
  color: #333;
  margin: 0;
  flex-grow: 1;
}

.recipeDetails {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  position: absolute;
  bottom: 0;
}

.cardEmphasized {
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
