.footer {
  background-color: #f9c9c9;
  padding: 20px;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerSection {
  margin: 10px;
}
